// app global css in SCSS form
:root {
    *::-webkit-scrollbar{
        width: 10px;
        background-color: #F5F5F5; /*滚动区域背景颜色*/
    }

    *::-webkit-scrollbar-thumb{
        border-radius: 5px;
        background-color: var(--q-primary); /*滚动条颜色*/
    }

}
